@use "node_modules/hive-framework/src/assets/sass/setup" with (
    // Use user defined list of modules?
    $modules-user-defined: false,

    // Support non-latin languages?
    $internationalization: true,

    // Support for Dark Mode?
    $use-dark-mode:        true,

    // Support for jQuery UI elements?
    $use-jquery-ui:        false,

    // Support for Hive Icons?
    $use-icons:            true,

    // typography grid
    $base-font-size:      16px,
    $base-line-height:    1.5,
    $code-font-size:      0.875rem,
    $small-font-size:     0.8125rem,

    // layout grid
    $container-max-width: 75rem,
    $breakpoint-3:        60em,
    $breakpoint-2:        48em,
    $breakpoint-1:        30em,

    // border radii
    $border-radius:      0.5em,
    $border-radius-form: 0.25rem,

    // Button styling
    $button-height:              2em,
    $button-padding:             0.25em 1em,
    $button-large-padding:       0.5em 1em,
    $button-small-padding:       0.3076923em 1em,
    $button-border:              1px solid,
    $button-radius:              1em,
    $button-box-shadow-offset-y: 2px,

    // Site logo defaults
    $site-logo-file:   "../img/site-logo@2x.png",
    $site-logo-width:  240px, // recommended maximum width ~240px.
    $site-logo-height: 45px
);
@use "node_modules/hive-framework/src/assets/sass/style";

// Add your additional CSS/SCSS rule-sets below.

#map {
    height: 240px;
}
